.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;    
}

.insa {
    margin-top: 100px;
}